---
---

<!DOCTYPE html>
<html class="">
<html lang="en">
<head>
  <title>Valentina Vannesluoma</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Valentina Vannesluoma - Freelance-kääntäjä, -oikolukija ja -opettaja.">
  <meta rel="author" href="http://www.vannesluoma.rocks">
  <meta rel="publisher" href="http://www.vannesluoma.rocks">
  <link rel="shortcut icon" href="/assets/img/favicons/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body>

{% include header.html %}

{% include about.html %}

{% include sisallontuotanto.html %}

{% include tekstinhuolto.html %}

{% include kaannokset.html %}

{% include kielikoulutus.html %}

{% include contact.html %}

{% include form.html %}

{% include footer.html %}

<script src="/assets/js/jquery-2.1.1.min.js"></script>
<script src="/assets/js/typed.min.js" type="text/javascript">></script>
<script src="/assets/js/functions.js" type="text/javascript"></script>
</body>
</html>
