<section class="section-contact">

  <h3 id="contact">Ota yhteyttä</h3>

  <div class="social-links">
    <a href="" class="icon-facebook"></a>
    <a href="http://twitter.com/digiexpertti" class="icon-twitter"></a>
    <a href="skype:tim.rannikko?add" class="skype"></a>
    <a href="whatsapp://send?text=Hello%20World!" class="whatsapp"></a>
    <a href="" class="icon-linkedin"></a>
  </div>

  <hr class="bar">

  <a class="biglink" href="tel:+358400123456">0400 123 456</p>

  <a class="biglink1" href="mailto:vannesluoma@gmail.com">vannesluoma@gmail.com</a>


</section>
