<section class="section-contact">

  <h3 id="contact">Ota yhteyttä</h3>

  <div class="social-links">
    <a href="skype:valentina.vannesluoma?add" class="icon-skype"></a>
    <a href="whatsapp://send?text=Hello%20World!" class="icon-whatsapp"></a>
    <a href="https://fi.linkedin.com/in/wannesluoma" class="icon-linkedin"></a>
  </div>

  <hr class="bar">

  <p class="biglink">Valentina Vannesluoma</p>

  <a class="biglink" href="tel:+358404131530">040 413 1530</p>

  <a class="biglink1" href="mailto:vannesluoma@gmail.com">vmvannesluoma@gmail.com</a>


</section>
