<section class="section-digimarkkinointi">

  <h3 id="kielikoulutus">Digimarkkinointi</h3>

  <div class="ic-lockup">

    <div class="ic-teach">{% include icons/icon-teach.html %}</div>

  </div>

  <div class="blurb1">
    
<p><strong>Hakusanamainonta Googlessa</strong><br><br>Oletko aina haaveillut ranskan tai espanjan kielen taidosta, mutta kansalaisopiston kurssien aikataulut eivät ikinä osu yksiin tai ryhmässä opiskelu ei vain ole sinun juttusi? Tai kaipaako yrityksesi henkilökunta koulutusta kielestä ja kulttuurista ennen ulkomaankomennusta? Tällöin vaihtoehtona on ottaa yksityistunteja!<br><br>Tarjoan räätälöitäviä yksityistunteja ranskan ja espanjan kielissä alkeista edistyneisiin, yhdelle opiskelijalle tai pienryhmälle. Voimme käyttää opiskelussa valmista kirjasarjaa tai vaihtoehtoisesti edetä haluamallasi tavalla, esimerkiksi tiettyihin aihealueisiin syventyen.</p>
<p><strong>Facebook-mainonta</strong><br><br>Jos haluaisit petrata kirjoitustaitojasi tai verestää kielenhuollon periaatteita, voin räätälöidä sinulle tai vaikka yrityksellesi kielenhuollon tehotuokion suomen kielessä. Voimme esimerkiksi lähteä liikkeelle yleisistä periaatteista tai sitten ruotia koulutusta ennen minulle lähettämiänne tekstejä. Monesti kieliopilliset ja kielenhuollollisetkin asiat ovat havainnollisempia, kun niitä pääsee peilaamaan itselleen läheiseen esimerkkiin.</p>
  </div>

</section>
