<footer id="footer">

<div class="lockup">

	<div class="content-wrap">
		<nav>
			<a href="#about-me">Tietoja minusta</a>
			<a href="#sisallontuotanto">Sisällöntuotanto</a>
			<a href="#tekstinhuolto">Tekstinhuolto</a>
			<a href="#kaannokset">Käännökset</a>
			<a href="#kielikoulutus">Kielikoulutus</a>
			<a href="#contact">Ota yhteyttä</a>
		</nav>

		<p class="copyright">All content copyright 2016 <br> <a class="copy" href="https://www.digiexpertti.fi">Website developed by DigiExpertti Oy</a></p>
	</div>

</div>

</footer>
