<section>

  <h3>Lähetä viesti</h3>

<form method="post" action="//formspree.io/vmvannesluoma@gmail.com">

  <div class="cg">

    <label><span>Nimi</span>
    <input type="text" name="name"></label>

    <label><span>Sähköposti</span>
    <input type="email" name="_replyto"></label>   

  </div>
  
  <input type="text" name="_gotcha" style="display:none">

  <label><span>Viesti</span>
  <textarea name="message"></textarea></label>

  <div class="submit-wrap">
    <input type="submit" value="Lähetä">
  </div>

</form>

</section>
