<header id="header">

	<div class="outer">
		<div class="inner">

			<img src="assets/img/etusivu_writer.jpg" alt="copywriter" height="auto" width="100%">

			<div class="typewriter">
				<span class="element"></span>
				<span class="element2"></span>
			</div>

			<nav>
				<a href="#about-me">Tietoja minusta</a>
				<a href="#sisallontuotanto">Sisällöntuotanto</a>
				<a href="#tekstinhuolto">Tekstinhuolto</a>
				<a href="#kaannokset">Käännökset</a>
				<a href="#kielikoulutus">Kielikoulutus</a>
				<a href="#contact">Ota yhteyttä</a>
			</nav>

		</div>
	</div>

	<div class="back-to-top icon-chevron-up"></div>

</header>
