<section class="section-sisallontuotanto">

  <h3 id="sisallontuotanto">Sisällöntuotanto</h3>

  <div class="ic-lockup">

    <div class="ic-write">{% include icons/icon-write.html %}</div>

  </div>

  <div class="blurb1">
    <p><strong>Freelance-copywriter täydentämään yrityksesi tekstituotantoa</strong>
    <p>Tarvitseeko yrityksesi ekstra-sormia näpyttelemään sisältöä esimerkiksi nettisivuille, blogiin, someen tai muihin julkaisuihin? Olen erikoistunut etenkin verkkoteksteihin, toisin sanoen internetissä julkaistaviin teksteihin. Tällaisten tekstien kohdalla pyrin aina kirjoittamaan hakukoneystävällistä tekstiä, joka palvelee asiakkaiden lisäksi myös sivuston hakukonelöydettävyyttä.<br><br>Kirjoittamisen filosofiaani kuuluu tuottaa selkeää, rikasta ja sisällöltään monipuolista tekstiä. Hakukonemielessä kirjoitettu 3 000 sanan artikkelinkaan ei tarvitse olla pelkkää höpöä, vaan sen tulee tarjota aidosti myös kiinnostavaa sisältöä lukijalleen.</p>
    <p><strong>Copywriter-palvelu aloittavalle yritykselle</strong><br><br>Aloittavalla yrityksellä on lähes miljoona asiaa hoidettavana, ja yksi niistä on yrityksen verkkonäkyvyyden kuntoon laittaminen. Aloittavat ja kauemminkin toimineet yritykset tarvitsevat laadukkaita tekstisisältöjä ainakin nettisivuilleen, sometililleen ja mahdollisiin muihin markkinointimateriaaleihin. Jos et itse ole synnynnäinen sanaseppo, on luultavasti kannattavaa ulkoistaa työ ammattikirjoittajalle. Olen ammattimainen copywriter ja voin suunnitella ja toteuttaa yrityksesi tarvitsemat tekstisisällöt laajalla skaalalla joka kanavaan.</p>
    <p class="lista">
      <strong>Esimerkkejä tuottamistani tekstityypeistä:</strong><br>
      Markkinointitekstit <br>
      Sisältöä nettisivuille ja verkkokauppaan <br>
      SEO-artikkelit <br>
      Blogitekstit <br> 
      Tiedotteet <br>
      Artikkelit <br>
      Raportit <br>
      Tiivistelmät (myös eri kielten välillä) <br>
      Mediaseuranta</p>
    <p> </p>
     <p>Kysyminen ei maksa mitään, joten <strong>lähetä minulle viesti</strong> sivujeni lomakkeella, ja katsotaan, mitä tekstisisältöjä sinun yrityksesi kaipaa!</p>
  </div>

</section>
