<section class="section-sisallontuotanto">

  <h3 id="sisallontuotanto">Sisällöntuotanto</h3>

  <div class="ic-lockup">

    <div class="ic-write">{% include icons/icon-write.html %}</div>

  </div>

  <div class="blurb1">
    <p><strong>Freelance-copywriter täydentämään yrityksesi tekstituotantoa</strong>
    <p>Tarvitseeko yrityksesi ekstra-sormia näpyttelemään sisältö esimerkiksi nettisivuille, blogiin, someen tai muihin julkaisuihin? Olen erikoistunut etenkin verkkoteksteihin, toisin sanoen verkossa julkaistavissa teksteissä pyrin aina kirjoittamaan hakukoneystävällistä tekstiä, joka palvelee asiakkaiden lisäksi myös sivuston hakukonelöydettävyyttä.<br><br>Kirjoittamisen filosofiaani kuuluu tuottaa selkeää, rikasta ja sisällöltään monipuolista tekstiä. Hakukonemielessä kirjoitettu 3000 sanan artikkelinkaan ei tarvitse olla pelkkää höpöä, vaan sen tulee taidota aidosti myös sisältöä lukijalleen.</p>
    <p class="lista">
      <strong>Esimerkkejä tuottamistani tekstityypeistä:</strong><br>
      Markkinointitekstit <br>
      Sisältöä nettisivuille ja verkkokauppaan <br>
      SEO-artikkelit <br>
      Blogitekstit <br> 
      Tiedotteet <br>
      Artikkelit <br>
      Raportit <br>
      Tiivistelmät (myös eri kielten välillä) <br>
      Mediaseuranta</p>
  </div>

</section>
