<section class="section-tekstinhuolto">

  <h3 id="tekstinhuolto">Oikoluku</h3>

  <div class="ic-lockup">

    <div class="ic-read">{% include icons/icon-read.html %}</div>

  </div>

  <div class="blurb1">
    <p><strong>Tekstit sujuvalle suomen kielelle – oikoluku, stilisointi ja editointi</strong><br><br>Vaikka nykypäivänä yleinen ilmapiiri on muuttunut sallivammaksi kirjoitetun kielen suhteen, on oikein kirjoitettu teksti kuitenkin tietyissä tilanteissa itsestäänselvyys. Huoliteltu ja sujuvasti luettava kieli luo uskottavaa kuvaa sen kirjoittajasta tai instituutiosta, jota teksti edustaa. Olemassa olevaan tekstiin voidaan tehdä melko kevyt, mekaanisiin kielivirheisiin keskittyvä oikoluku tai laajempi editointi tai stilisointi, jolloin tekstiä käsitellään aina rakenteista ja sanavalinnoista lähtien.</p>
    <p><strong>Kielentarkistus ja kielenhuolto kaikille teksteille</strong><br><br>Jos tiedät, että sujuvan suomen tuottaminen ei ole vahvinta alaasi, jätä tekstin viimeistely ammattilaiselle! Olen ammattilaisoikolukija, joka saa muokattua haastavastakin tekstistä version, jossa sen sisältö pääsee oikeuksiinsa eikä lukijan kaikki huomio kohdistu tekstin virheisiin, hankaliin lauserakenteisiin tai outoihin sanavalintoihin.</p>
     <p><strong>Oikolukemiani tekstityyppejä ovat esimerkiksi:</strong><br>
    <p class="lista">
      Nettisivut <br>
      Kirjat <br>
      Käännökset <br>
      Opinnäytetyöt, lopputyöt <br>
      Raportit <br>
      Viralliset julkaisut</p>
    
    <p><strong>Oikolukuprojektin hinta</strong><br><br>Oikolukuprojektien hinnat vaihtelevat aina tekstin tyypin, lähtötason ja projektissa vaadittavien muiden tehtävien mukaan. Mahdollisimman tarkan tarjouksen saat minulta kertomalla, mistä tekstistä on kyse, kuinka pitkä se on ja kuuluuko projektiin jotain muutakin, esimerkiksi taiton tarkistusta. Kysy siis rohkeasti, ja saat kilpailukykyisen tarjouksen!/</p>
  </div>

</section>
